<div class="container-fluid mt-5">
   <div class="clearfix"></div>
	<div class="col-12 mb-4 text-right">
		<button class="btn btn-success">Add</button>
	</div>
	<div class="col-12">
		<table class="table table-bordered  table-dark">
			<thead>
				<tr>
					<th class="text-center" scope="col">First</th>
					<th class="text-center" scope="col">Last</th>
					<th class="text-center" scope="col">Option</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">Mark</td>
					<td class="text-center">Otto</td>
					<td class="text-center">
						<button class="btn btn-success btn-sm mr-2">Edit</button><button class="btn btn-danger btn-sm">Delete</button>
					</td>
				</tr>
				<tr>
					<td class="text-center">Jacob</td>
					<td class="text-center">Thornton</td>
					<td class="text-center">
						<button class="btn btn-success btn-sm mr-2">Edit</button><button class="btn btn-danger btn-sm">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>