<div class="container-fluid mt-5">

	<div class="col-12 mb-4 text-right">
    <form >
         <div class="form-group text-left">
          <label for="exampleInputEmail1">ID</label>
          <input type="email" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter ID">
      </div>
       <div class="form-group text-left">
          <label for="exampleInputEmail1">Name</label>
          <input type="email" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter Name">
      </div>
      <div class="form-group text-left">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
    </form>
		<button class="btn btn-success">Add</button>
	</div>

	<div class="col-12">
		<table class="table table-bordered  table-dark">
			<thead>
				<tr>
					<th class="text-center" scope="col">ID</th>
					<th class="text-center" scope="col">Name</th>
          <th class="text-center" scope="col">Email</th>
					<th class="text-center" scope="col">Option</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users">
					<td class="text-center">{{user.id}}</td>
					<td class="text-center">{{user.first_name}}</td>
          <td class="text-center">{{user.email}}</td>
					<td class="text-center">
						<button (click)="editDetails(user)" class="btn btn-success btn-sm mr-2">Edit</button>
            <button (click)="deleteDetails(user)" class="btn btn-danger btn-sm">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>