<div class="container-fluid mt-5">

	<div class="col-12 mb-4 text-right">
		<button class="btn btn-success">Add</button>
	</div>

	<div class="col-12">
		<table class="table table-bordered  table-dark">
			<thead>
				<tr>
					<th class="text-center" scope="col">ID</th>
					<th class="text-center" scope="col">Last</th>
          <th class="text-center" scope="col">Email</th>
					<th class="text-center" scope="col">Option</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users">
					<td class="text-center">{{user.id}}</td>
					<td class="text-center">{{user.first_name}}</td>
          <td class="text-center">{{user.email}}</td>
					<td class="text-center">
						<button (click)="editDetails(user)" class="btn btn-success btn-sm mr-2">Edit</button>
            <button (click)="deleteDetails(user)" class="btn btn-danger btn-sm">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>